@font-face {
    font-family: Game;
    src: url(../fond/Game.ttf);
}
@font-face {
    font-family: Bebas;
    src: url(../fond/Bebas.ttf);
}
@font-face {
    font-family: IBMPlexSerifExtraLight;
    src: url(../fond/IBMPlexSerif-ExtraLight.ttf);
}
@font-face {
    font-family: IBMPlexSerifregular;
    src: url(../fond/IBMPlexSerif-Regular.ttf);
}
@font-face {
    font-family: MajorMono;
    src: url(../fond/MajorMono.ttf);
}
@font-face {
    font-family: Lotion;
    src: url(../fond/Lotion-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background:linear-gradient(to bottom, white 0%,rgb(204, 175, 251) 100%);
    
    background-repeat: no-repeat;
    width: 100%;

}
header{
    display: flex;
    align-items: center;  
    justify-content: space-between;
    background-color: white; 
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height : 20%;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}
#logo {
    width: 60px;
    margin-left: 30px;
}
#contact {
    width: 50px;
    margin-right: 20px;
}
.menu a:hover{
    background-color: rgba(0, 47, 255, 0.292);
    border: 20px;
    border-radius: 50px;
    padding: 20px;
    
    
 }
main {
    margin-top: 300px;
}

#nav{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    margin-right: 30px;
    
}
#nav a {
    font-family: Bebas ;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
#nav a:hover{
    background-color: white;
    border: 20px;
    border-radius: 50px;
    padding: 20px;
    
    
 }
 .ac-button{
    border-radius: 30px;
    background: rgba(193, 109, 223, 0);
    color: black;
    margin-top: 50px;
    letter-spacing:5px;
    font-family: lotion;
    font-size: 18px;
    text-decoration: none;
    border: 4px solid black;
    padding: 12px;
    border-style: inset;
}
 .abs {
    position: absolute;
   


}

#contact:hover  div {
    display: block;
}

#popup{
    
    color: rgb(0, 0, 0);
    bottom: -170px;
    right: 10px;
    padding: 10px;
    width: 250px;
    height: 200px;
    background: linear-gradient(to bottom, white 0%, rgb(204, 175, 251) 100%);
    border-radius: 30%;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    font-family:Bebas ;
}
#popup button {
    background: rgba(255,255,255,0);
    border-radius: 20px;
    padding: 10px;
    font-family: Bebas;
    font-size: 18px;
    
}

.hidden{
    display: none;
}
h1{
    padding: 50px;
    text-align: center;
    font-size: 50px;
    font-family: Game;
}
.imag img {
    width: 500px;
    border-radius: 20%;
    padding: 20px;
}
.firstpart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
.firstpart h2 {
    text-align: center;
    font-size: 20px;
}
.firstpart p {
    font-size: 18px;
    text-align: center;
    font-family: IBMPlexSerifExtraLight;
    padding: 20px;
    width: 90%;
    


}
.secondpart h2 {
    text-align: center;
    font-size: 20px;
    font-family: MajorMono;
}
.secondpart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
    gap: 10px;
    
}
.secondpart p {
    font-size: 18px;
    text-align: center;
    font-family: IBMPlexSerifExtraLight;
    padding: 20px;
    width: 90%;


}
.secondpart .imag{
    margin-top: 60px;
}
.ind{
    text-align: center;
    margin-top: 100px;
}
h2 {
    font-family: MajorMono;
    font-size: 20px;
}
.horizon {
    display: flex;
    writing-mode: horizontal-tb;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
   
    text-align: center;
}
.horizon section {
    display: flex;
    justify-content: space-between;
}
.horizon h3{
    font-family: Bebas;
    font-size: 20px;
}
.horizon article {
    font-size: 15px;
    font-family: IBMPlexSerifExtraLight;
    gap: 15px;
    text-align: center;

}
.horizon a {
    text-decoration: none;
    color: black;
    font-family: Bebas;
    font-size: 18px;

}
img {
    width: 100px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-bottom: 50px;
    padding: 50px;

}
footer img{
    width: 30px;
    margin-right: 10px;
}
footer p {
    font-family: Lotion ;
    font-size: 15px;
}

h1{
    animation: infinite;
    animation-direction: alternate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: ddv;
}

@keyframes ddv {
    from{
       color: rgb(90, 4, 148);
       width: 90%;
    }
    to{
       color: rgb(137, 15, 15) ;
       width: 110%; 
    }
    
}
.ima {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;
  
    animation-name: appear;
    animation-fill-mode: both;
    animation-duration: 1ms;
}

@keyframes appear{
    from {
        opacity: 0;
        transform: scaleX(0);
      }
    
      to {
        opacity: 1;
        transform: scaleX(1);
      }
}
       



@media (max-width : 770px){
    header {

            flex-direction: column;
            align-items: center;
            position: static;
            background: linear-gradient(to bottom,  rgb(204, 175, 251)0%,white 100%);
    

    }
    img{
        width: 100%;
    }

    .firstpart {
        flex-direction: column;
        align-items: center;
    }
    .secondpart{
        flex-direction: column;
        align-items: center;
    }
    .horizon{
        flex-direction: column;
        align-items: center;
    }
    .horizon img{
        width: 40%;
    }

    main {
        flex-direction: column;
    }

    h1 {
        animation: none;
        color: black;
    
    }
}